*/*/*/node_modules/
*/*/*/.vscode
*/*/*/package-lock.json

*/*/*/client/node_modules/
*/*/*/client/build/
*/*/*/client/.env.local
*/*/*/client/.env.development.local
*/*/*/client/.env.test.local
*/*/*/client/.env.production.local

*/*/*/client/npm-debug.log*
*/*/*/client/yarn-debug.log*
*/*/*/client/yarn-error.log*
*/*/*/client/package-lock.json
*/*/*/db.json
new-cours/third-section-it-loger/backend-frontend-s3-2019/db.json
